/**
Auther : Siddhartha singh
Contact: sidd5sci@gmail.com
License: MIT
*/
/** 
MENU
===================================== 
1: Variables 
2: Typography
3: Header 
4: Section  
5: Slider
*/
* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
2: Typography 
=====================================
*/
h1, h2, h3, h4, h5, h5, p, span {
  font-family: "Nunito", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/**
3: Header 
=====================================
*/
header {
  width: 100%;
  background: rgba(0, 0, 0, 0.555);
  min-height: 50px;
  position: absolute;
  z-index: 10;
}

header #logo {
  display: inline-block;
  height: 100%;
  float: left;
  font-family: "Oswald", sans-serif;
  color: white;
  margin-top: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .logo {
  font-family: "Mukta";
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}

header #menu-btn {
  display: none;
  float: right;
  margin-top: 0px;
  width: 36px;
  height: 36px;
  padding: 6px;
  text-align: center;
  cursor: pointer;
}

header #mainmenu {
  font-family: "Mukta";
  float: right;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style: none;
  position: relative;
}

header #mainmenu li {
  float: left;
}

header #mainmenu li a {
  display: inline-block;
  padding: 25px 15px 25px 15px;
  line-height: 35px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  outline: none;
}

header #mainmenu li:hover {
  background: #ccc;
}

header #mainmenu li:hover > .submenu {
  display: block;
  opacity: 1;
  background: #000;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header #mainmenu .submenu {
  display: none;
  opacity: 1;
  position: absolute;
  top: 60px;
  float: left;
}

header #mainmenu .submenu li {
  font-weight: normal;
  border-bottom: solid 1px #333;
  letter-spacing: 0;
  display: block;
  float: none;
  text-transform: none;
}

header #mainmenu .submenu li a {
  display: inline-block;
  min-width: 250px;
  padding: 5px 30px;
  line-height: 35px;
  text-decoration: none;
  color: #fff;
  text-align: left;
  outline: none;
}

header #mainmenu .submenu li a:hover {
  background-color: #E20E0F;
}

/**
4: Section 
=====================================
*/
.section {
  width: 100%;
  min-height: 100vh;
}

#section-slider {
  background: #000;
}

/**
5: Slider
=====================================
*/
.fw-slider {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

.fw-slider .fw-slide {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: absolute;
}

.fw-slider .fw-slide img {
  width: 100%;
  position: absolute;
  top: 0;
}

.fw-slider .fw-slide .fw-slide-content {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 30px;
  top: calc(100% - 70%);
  padding: 20px;
  min-width: 100px;
  min-height: 100px;
  z-index: 11;
}

.fw-slider .fw-slide .fw-slide-content h2 {
  font-size: 80px;
  color: #fff;
}

.fw-slider .fw-slide .fw-slide-content p {
  font-size: 20px;
  color: #fff;
}

.fw-slider .fw-slide .fw-layer-group {
  position: relative;
}

.fw-slider .fw-slide .fw-layer-group .fw-layer {
  position: absolute;
}

.fw-slider .fw-controls {
  position: absolute;
  bottom: 35px;
  left: calc(100% - 65%);
  min-width: 400px;
  min-height: 20px;
}

.fw-slider .fw-controls .fw-pin-container {
  height: 1px;
  margin: auto;
}

.fw-slider .fw-controls .fw-pin-container .fw-pin {
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 1em;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}
