/**
Auther : Siddhartha singh
Contact: sidd5sci@gmail.com
License: MIT
*/   
        
  
            
/**   
MENU  
===================================== 
1: Variables 
2: Typography
3: Header  
4: Section   
5: Slider 
*/ 
  
@import 'components/variables';
/**
2: Typography 
=====================================
*/
@import 'components/typography';
/**
3: Header 
=====================================
*/
@import 'components/header';
/**
4: Section 
=====================================
*/
@import 'components/section';
/**
5: Slider
=====================================
*/
@import 'components/slider';
   
     
      
    
     