.fw-slider{
  width:100%;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  overflow: hidden;

  .fw-slide{
    width:100%;
    min-height: 100vh;
    max-height:100vh;
    overflow: hidden;
    position: absolute;
    
    img{
      width:100%;
      position: absolute;
      top:0;
    }

    .fw-slide-content{
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 30px;
      top: calc(100% - 70%);
      padding: 20px;
      min-width: 100px;
      min-height: 100px;
      z-index: 11;

      h2{
        font-size:80px;
        color:#fff;
      }

      p{
        font-size:20px;
        color:#fff;
      }
    }

    .fw-layer-group{
      position: relative;

      .fw-layer{
        position: absolute;
        
      }
    }

    &.fw-previous-junk{
      z-index: -10 !important; 
    }

    &.fw-previous{
      z-index: -20 !important; 
    }

    &.fw-active{
      z-index:0 !important;
    }

  }
  .fw-arrow-controls{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    .fw-left-control{
      height:80px;
      width:80px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.466);
      border:2px solid #ccc;
      position: absolute;
      left: 40px;
      top: calc(100% - 54%);
      cursor: pointer;
    }

    .fw-right-control{
      height:80px;
      width:80px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.466);
      border:2px solid #ccc;
      position: absolute;
      right: 40px;
      top: calc(100% - 54%);
      cursor: pointer;
    }
  }
  .fw-pin-controls{
    position: absolute;
    bottom: 35px;
    left: calc(100% - 65%);
    min-width: 400px;
    min-height: 20px;
    
    
    .fw-pin-container{
      //width:50%;
      height: 1px;
      margin:auto;
      
      .fw-pin{
        float:left;
        width:10px;
        height:10px;
        margin-right:1em;
        border-radius:50%;
        // background: #ccc;
        border:1px solid #ccc;
        cursor: pointer;
      }
    }
    
  }


}


