.fp-slider{
  width:100%;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  
  .fp-slide{
    width:100%;
    min-height: 100vh;
    max-height:100vh;
    overflow: hidden;
    position: absolute;
    
    img{
      width:100%;
      position: absolute;
      top:0;

    }
  }


}


