.fp-slider{
  width:100%;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  
  .fp-slide{
    width:100%;
    min-height: 100vh;
    max-height:100vh;
    overflow: hidden;
    position: absolute;
    
    img{
      width:100%;
      position: absolute;
      top:0;

    }

    .fp-slide-content{
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 30px;
      top: calc(100% - 70%);
      padding: 20px;
      min-width: 100px;
      min-height: 100px;
      z-index: 11;

      h2{
        font-size:80px;
        color:#fff;
      }

      p{
        font-size:20px;
        color:#fff;
      }
    }
  }

  .fp-controls{
    position: absolute;
    bottom: 35px;
    left: calc(100% - 65%);
    min-width: 400px;
    min-height: 20px;
    .fp-pin-container{
      //width:50%;
      height: 1px;
      margin:auto;
      .fp-pin{
        float:left;
        width:10px;
        height:10px;
        margin-right:1em;
        border-radius:50%;
        background: #ccc;
        cursor: pointer;
      }
    }
    
  }


}


